[project]
	description = Titan Project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Árpád Lovassy (alovassy)
[access "refs/for/refs/*"]
	read = group user/Árpád Lovassy (alovassy)
	push = group user/Árpád Lovassy (alovassy)
	label-Code-Review = -2..+2 group user/Árpád Lovassy (alovassy)
	label-Verified = -1..+1 group user/Árpád Lovassy (alovassy)
	rebase = group user/Árpád Lovassy (alovassy)
	removeReviewer = group user/Árpád Lovassy (alovassy)
	submit = group user/Árpád Lovassy (alovassy)
[access "refs/heads/*"]
	read = group user/Árpád Lovassy (alovassy)
	create = group user/Árpád Lovassy (alovassy)
	push = +force group user/Árpád Lovassy (alovassy)
	pushMerge = group user/Árpád Lovassy (alovassy)
[access "refs/tags/*"]
	push = +force group user/Árpád Lovassy (alovassy)
	pushTag = group user/Árpád Lovassy (alovassy)
	pushSignedTag = group user/Árpád Lovassy (alovassy)
